services:
  - type: web
    name: leoshi-blogges
    runtime: static
    buildCommand: cd leoshi-blogges && npm install && npm run build
    staticPublishPath: leoshi-blogges/dist
    envVars:
      - key: VITE_SUPABASE_URL
        sync: false
      - key: VITE_SUPABASE_ANON_KEY
        sync: false
    routes:
      - type: rewrite
        source: /*
        destination: /index.html